.owl-dots::after {
    content: " ";
    border-bottom: 1px solid #000;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}
 .owl-dots {
    margin-top: 30px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
  }
   .owl-dots:after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 60%;
    height: 1px;
    background: #eeeeee;
    z-index: -1;
  }
   .owl-dots .owl-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eeeeee;
    margin: 0 50px;
  }
  
  @media (max-width: 767px) {
  .owl-dots .owl-dot {
      margin: 0 15px;
    }
  }
  
   .owl-dots .owl-dot.active {
    background: #b01afe;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  }
  