.rcw-launcher {
    background-color: #f26a2e!important;
}
.rcw-conversation-container .rcw-header {
    background-color: #f26a2e!important;
}
.rcw-widget-container {
    max-width: 280px!important;
}